* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(#e9ebf6, #fefeff);
  font-family: Arial, Helvetica, sans-serif;
}
.blob {
  position: absolute;
  background-color: #e6e8f5;
  opacity: 0.4;
}
.left {
  height: 70vh;
  width: 40vw;
  bottom: 0;
  left: 0;
  border-top-left-radius: 100%;
}
.middle {
  height: 35vh;
  width: 17vw;
  clip-path: ellipse(25% 50% at 52% 50%);
  transform: rotate(-60deg);
  right: 20%;
  top: 25%;
}
.right {
  height: 60vh;
  width: 30vw;
  top: -20%;
  right: 0;
  border-bottom-left-radius: 100%;
}
.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
}

/* RIGHT SIDE */
.right-side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  z-index: 100;
  width: 300px;
  height: 250px;
  background-color: #fff;
  padding: 1.5rem;
  text-align: left;
  border: 1px solid #dcdbdc;
}
i {
  padding: 12px 10px;
  margin: 5px 5px 15px 5px;
  border-radius: 10%;
}
#first {
  background-color: #b3daf9;
  color: #1d80dd;
}
#second {
  background-color: #c1e2c3;
  color: #3e9545;
}
#third {
  background-color: #fff7c0;
  color: #f79c32;
}
#fourth {
  background-color: #dcb7e2;
  color: #81279d;
}
.second-title {
  color: #353f84;
  line-height: 2rem;
}
.second-content {
  color: #6070bb;
  padding: 10px 0;
  opacity: 0.8;
}

.second,
.fourth {
  margin-top: 30px;
  margin-left: 30px;
}
.fourth {
  margin-bottom: 30px;
}

/*LEFT SIDE */
.left-side {
  max-width: 40vw;
  z-index: 100;
  margin-right: 3rem;
}
.upper {
  color: #5162b4;
  font-size: 0.7rem;
  opacity: 0.7;
  font-weight: bold;
}
.title {
  font-weight: 500;
  font-size: 3rem;
  padding: 10px 0;
  color: #182370;
  line-height: 3rem;
}
.color-this {
  color: #284df8;
}
.content {
    color:#5162b4;
    line-height: 1.7rem;
    font-weight: 500;
    padding:10px 0;
    opacity: 0.8;

}
a{
    text-decoration: none;
   
}
.btn {
    padding:10px 15px;
    border-radius: 5%;
    font-size: 0.8rem;
    background-color: #fe9f27;
    color:#fff;
    font-weight: bold;
}
@media (max-width: 900px) {
  body {
    height: 140vh;
  }
   .container{
       flex-direction: column;
   }
   .left-side{
       max-width: 60vw;
       margin-bottom: 100px;
       margin-top: 200px;
   }  
   .left {
     height: 40vh;
   } 
   .middle {
    width: 30vw;
    top: 60%;
  }
  }
  @media (max-width: 600px) {
    body {
      height: 180vh;
    }
      .left{
        display: none;
      }
      .middle {
        display: none;
      }
    .left-side{
        max-width: 100vw;
        margin-top: 700px;
    }   
    .right-side {
        grid-template-columns: repeat(1, 1fr);
    }
    .second {
        margin-bottom: 30px;
    }
  }